extends baseEmail

block content
  h1 Your Request has been accepted.
  h2 go to your account to pay for Your reservation.  
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  //- a(href=`${price}`, target='_blank') #{price}
  p Enjoy using our product!

